{% extends 'base.html.twig' %}

    {% block title %}
        Cart
    {% endblock %}

    {% block body %}
  
        {% if title is defined %}
            <h1>{{title}}</h1>
        {% else %}
            <h1>Header</h1>
        {% endif %}

        <div id="cart">
        {% if cartlines is not empty %}
        {% set total = 0 %}
        {% for book in cartlines %}
            <a href={{ path("show_book", {'id': book.id}) }} >
                <span id="signature" class="footer__section-contents-details-text">{{ book.author.name ~ ' ' ~ book.author.surname|upper ~ ' - ' ~ book.title }}</span>
                <img src="/assets/img/{{ book.srcImage }}" alt="{{ book.altImage }}" title="{{ book.titleImage }}" class="footer__section-contents-details-img " />
            </a>
            <br>
            <mark>{{ book.prices[3]|number_format(2, '.', ' ') }} €</mark><br>
            <a href="{{ path("remove_from_cart", {'id': book.id})}}">Remove book?</a>
            <hr>

        
        
        {% set total = total + book.prices[3] %}
        {% endfor %}
        <h3>Total : {{ total|number_format(2, '.', ' ') }}&nbsp;€</h3>
        {% else %}
        <p>Your cart is empty !</p>
        {% endif %}

        </div>
    
    {% endblock %}
