{% extends 'base.html.twig' %}

    {% block title %}
        {{title}}
    {% endblock %}

    {% block body %}
  
    {% if title is defined %}
        <h1 class="page__title">{{title}}</h1>
    {% else %}
        <h1>Header</h1>
    {% endif %}

        <div id="cart">
        {% if cartlines is not empty %}
        {% set total = 0 %}
            <ul>
        {% for book in cartlines %}
                <li class="cart__wrap">
                    <div class="cart_items">
                        <img src="/assets/img/{{ book.srcImage }}" alt="{{ book.altImage }}" title="{{ book.titleImage }}" class="cart_items-img" />
                        <a href={{ path("show_book", {'id': book.id}) }}>
                            <span class="cart_items-text">{{book.author.name ~ ' ' ~ book.author.surname|upper}} : </span><br>
                            <span class="cart_items-text">{{book.title}}</span>
                        </a>
                    </div>
                    <div class="cart_items">
                        <span class="cart_items-text">{{ book.prices[3]|number_format(2, '.', ' ') }}&nbsp;€</span>
                        <a href={{ path("remove_from_cart", {'id': book.id})}} onclick="return confirm('Are you sure?')">
                            <img src="{{ asset('assets/img/random/remove.png') }}" alt="remove_from_cart.png" title="Remove from cart?" class="cart_items-remove"/>
                        </a>
                    </div>
                </li>
        {% set total = total + book.prices[3] %}
        {% endfor %}
            </ul>
            <div id="total_box">
                <p id="total" class="cart_items-text">{{ total|number_format(2, '.', ' ') }}&nbsp;€</p>
                <a href="#" style="display: inline;">
                    <img src="{{ asset('assets/img/random/approuve.png') }}" alt="approuve.png" title="Proceed to payment?"/>
                </a>
            </div>
        {% else %}
            <p style="color: #333333; font-family: 'EB Garamond', serif; font-weight: bold; text-align: center; font-size: 2em;">Your cart is empty !</p>
        {% endif %}

        </div>
    
    {% endblock %}
