{% extends 'base.html.twig' %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}

{% if title is defined %}
    <h1 class="page__title">{{title}}</h1>
    {% else %}
    <h1>Header</h1>
    {% endif %}

    <div id="super_admin_page">
        <ul>
    {% for user in users %}
            <li class="users__list">
                <div>
                    <img class="users_photos" src="/assets/img/{{ user.srcPhoto }}" alt="{{ user.altPhoto }}" title="{{ user.titlePhoto }}"/>
                    <a href={{ path("show_user", {'id': user.id}) }}>
                        <span class="users__list-text">{{user.uname}}</span><br>
                    </a>
                </div>
                <div>
                {% for role in user.roles %}
                    {% if role == 'ROLE_USER' %}
                    <span class="cart_items">
                        <span class="users__list-text">USER</span>
                        <a href={{ path("make_admin", {'id': user.id}) }} onclick="return confirm('Are you sure?')">
                            <img src="{{ asset('assets/img/random/approuve.png') }}" alt="approuve.png" title="Make Admin?" class="user__control-img" />
                        </a>
                    </span>
                    {% elseif role == 'ROLE_SUPER_ADMIN' %}
                    <div class="cart_items">
                        <span class="users__list-text">SUPER ADMIN</span>
                        <img src="{{ asset('assets/img/random/crown.png') }}" alt="approuve.png" class="user__control-img"/>
                    </div>
                    {% else %}
                    <div class="cart_items">
                        <span class="users__list-text">ADMIN</span>
                        <a href={{ path("remove_admin", {'id': user.id}) }} onclick="return confirm('Are you sure?')">
                            <img src="{{ asset('assets/img/random/remove.png') }}" alt="approuve.png" title="Remove Admin?" class="user__control-img"/>
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
            </li>
    {% endfor %}
        </ul>
    </div>
{% endblock %}