{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{app.user.uname}}</h1>
    <p>Gender : {{app.user.gender}}</p>
    <p>Age : {{ app.user.birthdate | age }}</p>
    <p>Member since : {{ app.user.registrationDate | date("F Y") }}</p>

    <img src="/assets/img/{{ app.user.srcPhoto }}" alt="{{ app.user.altPhoto }}" title="{{ app.user.titlePhoto }}" style="width : 50px;" />
    {% if(app.user) %}
        <p>Jte vois</p>
    {% else %}
        <p> jte vois pas</p>
    {% endif %}
{% endblock %}