{% extends 'base.html.twig' %}
{% block title %}
{{title}}
{% endblock %}

{% block body %}

    {% if title is defined %}
            <h1 class="page__title">{{title}}</h1>
        {% else %}
            <h1>Header</h1>
        {% endif %}

        <div class="settings">
            <div>
                <img class="member-img" src="/assets/img/{{ user.srcPhoto }}" alt="{{ user.altPhoto }}" title="{{ user.titlePhoto }}"/>
            </div>
            <div class="settings__info">
                <div class="member_name">
                    <h2><span>{{user.uname}}</span> <span>Member since : {{ user.registrationDate | date("F Y") }}</span></h2>
                </div>
                <div class="member_info">
                    <p>Gender : {{user.gender}}</p>
                    <p>Age : {{user.birthdate | age}}</p>
                    <p>{{ user.uname }}'s favorite books: </p>
                    {% for evaluation in user.evaluations %}
                    {% if evaluation.rating == 5 %}
                    <a href={{ path("show_book", {'id': evaluation.book.id}) }}>
                        <img src="/assets/img/{{ evaluation.book.srcImage }}" alt="{{ evaluation.book.altImage }}" title="{{ evaluation.book.titleImage }}" class="favorite_books-img" />
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>                   
            </div>
        </div>
{% endblock %}