{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp/www/library/src/Controller/HomepageController.php'|file_link(0) }}">src/Controller/HomepageController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp/www/library/templates/homepage/index.html.twig'|file_link(0) }}">templates/homepage/index.html.twig</a></code></li>
    </ul>
</div>

    {% for genre in genres %}
        <a href={{ path("show_genre", {'name': genre.name}) }}><h4>{{genre.name}}</h4></a>
    {% endfor %}

    <h2>Quotes :</h2><br>

    {% for quote in quotes %}
    <img width="50px" src="/assets/img/{{ quote.author.srcImage }}" alt="{{ quote.author.altImage }}" title="{{ quote.author.titleImage }}"/>
    <span>"{{ quote.text }}"</span><br>
    <span> ~ {{ quote.author.name ~ " " ~ quote.author.surname|upper }}</span><hr>
    {% endfor %}
{% endblock %}