{% extends 'base.html.twig' %}
 
{% block title %}Library{% endblock %}

{% block body %}


{% if title is defined %}
{{title}}
{% else %}
Header
{% endif %}

    {% for genre in genres %}
        <a href={{ path("show_genre", {'name': genre.name}) }}><h4>{{genre.name}}</h4></a>
    {% endfor %}

    <h2>Quotes :</h2><br>

    {% for quote in quotes %}
    <img width="50px" src="/assets/img/{{ quote.author.srcImage }}" alt="{{ quote.author.altImage }}" title="{{ quote.author.titleImage }}"/>
    <span>"{{ quote.text }}"</span><br>
    <span> ~ {{ quote.author.name ~ " " ~ quote.author.surname|upper }}</span><br>
    {% if is_granted('ROLE_ADMIN') %}
    <span>
        <a href={{ path("edit_quote", {'id': quote.id}) }}>Edit?</a>
        <a href={{ path("remove_quote", {'id' : quote.id}) }} onclick="return confirm('Are you sure?')">Delete?</a>
    </span>
    {% endif %}
    <br>
    {% endfor %}
{% endblock %}