{% extends 'base.html.twig' %}
 
{% block title %}
{{title}}
{% endblock %}

{% block body %}

    {% if title is defined %}
    <h1 class="page__title">{{title}}</h1>
    {% else %}
    Header
    {% endif %}

    {% for genre in genres %}
    <a href={{ path("show_genre", {'name': genre.name}) }} class="links"><h4>{{genre.name}}</h4></a>
    {% endfor %}

    <h1 class="page__title">Quotes</h1>

    
    <div class="quotes">
        <div>
            <img src="/assets/img/{{ quote['img']['src'] }}" alt="{{ quote['img']['alt'] }}" title="{{ quote['img']['title'] }}" class="quotes__author-img"/>
            <q class="quotes__content-txt"><em>{{ quote['text'] }}</em></q>
        </div>
        <h6 class="quotes__content-author"><strong>{{ quote['author'] }}</strong></h6>
    </div>
            
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=ouo09defrlak006xogcmlytgdrzl1yubfduz4p4v24xr50pi"></script>
    <script>
    
        $(document).ready(function(){
            
            setInterval(function(){
                $.post(
                    "{{ path('randquote') }}",
                    function(data){
                        $(".quotes").fadeOut(500, function(){
                            //img
                            $(".quotes__content-txt em").html(data.text)
                            $(".quotes__content-author strong").html(data.author)
                            $(this).fadeIn();
                        })
                        
                    }
                )
                }, 5000);
        })
        
    </script>
{% endblock %}