{% extends 'base.html.twig' %}
 
{% block title %}
{{title}}
{% endblock %}

{% block body %}

    {% if title is defined %}
    <h1 class="page__title">{{title}}</h1>
    {% else %}
    Header
    {% endif %}

    {% for genre in genres %}
    <a href={{ path("show_genre", {'name': genre.name}) }} class="links"><h4>{{genre.name}}</h4></a>
    {% endfor %}

    <h1 class="page__title">Quotes</h1>

    {% for quote in quotes %}
    <div class="quotes">
        <div>
            <img src="/assets/img/{{ quote.author.srcImage }}" alt="{{ quote.author.altImage }}" title="{{ quote.author.titleImage }}" class="quotes__author-img"/>
            <span class="quotes__content-txt"><em>"{{ quote.text }}"</em></span>
        </div>
        <h6 class="quotes__content-author"><strong>{{ quote.author.name ~ " " ~ quote.author.surname }}</strong></h6>
    </div>
    {% endfor %}
        
{% endblock %}