{% extends 'base.html.twig' %}
 
{% block title %}
{{title}}
{% endblock %}

{% block body %}

    {% if title is defined %}
    <h1 class="page__title">{{title}}</h1>
    {% else %}
    Header
    {% endif %}

    {% for genre in genres %}
    <a href={{ path("show_genre", {'name': genre.name}) }} class="links"><h4>{{genre.name}}</h4></a>
    {% endfor %}

    <div id="mapid"></div>

    <h1 class="page__title">Quotes</h1>

    
    <div class="quotes">
        <div>
            <img src="/assets/img/{{ quote['img']['src'] }}" alt="{{ quote['img']['alt'] }}" title="{{ quote['img']['title'] }}" class="quotes__author-img"/>
            <q class="quotes__content-txt"><em>{{ quote['text'] }}</em></q>
        </div>
        <h6 class="quotes__content-author"><strong>{{ quote['author'] }}</strong></h6>
    </div>
            
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!--script for Quotes-->
    <script>
    
        $(document).ready(function(){
    
            setInterval(function(){
                $.post(
                    "{{ path('randquote') }}",
                    function(data){
                        $(".quotes").fadeOut(500, function(){
                            $(".quotes__author-img").attr('src', '/assets/img/' + data.img.src)
                            $(".quotes__author-img").attr('alt', data.img.alt)
                            $(".quotes__author-img").attr('title', data.img.title)
                            $(".quotes__content-txt em").html(data.text)
                            $(".quotes__content-author strong").html(data.author)
                            $(this).fadeIn();
                        })       
                    }
                )
                }, $(".quotes__content-txt em").text().length * 75); 
        })
        
    </script>
{% endblock %}