{% extends 'base.html.twig' %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}
    {% if title is defined %}
        <h1 class="page__title">{{title}}</h1>
    {% else %}
        <h1>Header</h1>
    {% endif %}
    
        <div id="admin__options">
            <div>
                <p><a href={{ path("add_author") }} class="links" >Add Author</a></p>
                <h6 class="admin__edit-title">Edit :</h6>
        {% for author in authors %}
                <p><a href={{ path("edit_author", {'surname': author.surname} ) }} class="links">{{author.name ~ " " ~ author.surname|upper}}</a></p>
        {% endfor %}
            </div>
            <div>
                <p><a href={{ path("add_book") }} class="links" >Add Book</a></p>
                <h6 class="admin__edit-title">Edit :</h6>
        {% for book in books %}
                <p><a href={{ path("edit_book", {'id': book.id}) }} class="links">{{ book.author.name ~ " " ~ book.author.surname|upper ~ " - " ~ book.title }}</a></p>
        {% endfor %}
            </div>
            <div>
                <p><a href={{ path("add_genre") }} class="links" >Add Genre</a></p>
                <h6 class="admin__edit-title">Edit :</h6>
        {% for genre in genres %}
                <p><a href={{ path("edit_genre", {'name': genre.name}) }} class="links">{{ genre.name }}</a></p>
        {% endfor %}
            </div>
            <div>
                <p><a href={{ path("add_edition") }} class="links" >Add Edition</a></p>
                <h6 class="admin__edit-title">Edit :</h6>
        {% for edition in editions %}
                <p><a href={{ path("edit_edition", {'name': edition.name}) }} class="links">{{ edition.name }}</a></p>
        {% endfor %}
            </div>
            <div>
            <p><a href={{ path("add_quote") }} class="links" >Add Quote</a></p>
            <p><a href="#admin__quotes" }} class="links" >Edit Quote</a></p>
            </div>
        </div>
        <h1 id="admin__quotes" class="page__title">Quotes : </h1>  
        {% for quote in quotes %}
        <div id="modify__quotes">
            <div class="quotes">
                <div>
                    <img src="/assets/img/{{ quote.author.srcImage }}" alt="{{ quote.author.altImage }}" title="{{ quote.author.titleImage }}" class="quotes__author-img"/>
                    <q class="quotes__content-txt"><em>{{ quote.text }}</em></q>
                </div>
                <h6 class="quotes__content-author"><strong>{{ quote.author.name ~ " " ~ quote.author.surname }}</strong></h6>
            </div>
            <div class="edit__content">
                <a href={{ path("edit_quote", {'id': quote.id}) }}>
                    <img src="{{ asset('assets/img/random/edit.png') }}" alt="approuve.png" title="Edit Quote?" class="edit__content-img"/>
                </a>
                <a href={{ path("remove_quote", {'id' : quote.id}) }} onclick="return confirm('Are you sure?')">
                    <img src="{{ asset('assets/img/random/remove.png') }}" alt="approuve.png" title="Remove Quote?" class="edit__content-img"/>
                </a>
            </div>
        </div>
        {% endfor %}
{% endblock %}
