{% extends 'base.html.twig' %}
{% block title %}
{{title}}
{% endblock %}
{% block body %}
{% if title is defined %}
        <h1 class="page__title">{{title}}</h1>
    {% else %}
        <h1>Header</h1>
    {% endif %}

    <div id="settings">
        <div>
            <img id="member-img" src="/assets/img/{{ author.srcImage }}" alt="{{ author.altImage }}" title="{{ author.titleImage }}"/>
            <div>
                <a href={{ path("edit_author_image", {'surname': author.surname}) }}>Change photo?</a>
            </div>
        </div>
        <div id="member">
            <div id="member_name">
                <h2><span>{{author.name ~ " " ~ author.surname|upper}}</span></h2>
            </div>
            <div id="member_info">
                <textarea>{{ author.about }}</textarea>
            </div>
        </div>
    </div>


<div>
    <h1>{{ author.name ~ " " ~ author.surname|upper}}</h1>

    <img src="/assets/img/{{ author.srcImage }}" alt="{{ author.altImage }}" title="{{ author.titleImage }}"
        style="width :150px;" />
    <a href={{ path("edit_author_image", {'surname': author.surname}) }}>Change photo?</a>

    <textarea rows="10" cols="100">{{ author.about }}</textarea>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


    {% endblock %}