<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>
            {% block title %}
                {% if title is defined %}
                    {{title}}{% else %}Library{% endif %}
                | Library
            {% endblock %}
        </title>
        {% block stylesheets %}
        <!--Bootstrap-->
        <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
        <!--links for CSS-->
        <link rel="stylesheet" href="{{ asset('assets/css/home_style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/role_style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/cart_style.css') }}">
        <!--links for fonts-->
        <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">

        <!--links for jquery-rating-->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('assets/css/fontawesome-stars.css') }}">
        <!--Font awesome icons-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

        {% endblock %}
        <!--logo's icon-->
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/favicon/favicon.ico') }}"/>
    </head>
   
    <body>
        <main id="page">     
            <header id="header">
                <div class="header__content">
                    <div id="logo">
                        <img src="{{ asset('assets/img/logo/wisdom.png') }}" alt="Library's logo" />
                        <h1 class="header__logo-txt">Library</h1>
                    </div>
                    <div class="header__nav">
                        <div class="nav">
                            <div class="nav__wrap">
                                <div class="nav__item {% if mainNavHome is defined %}active{% endif %}">
                                    <a class="nav__item-link" href="{{path('homepage')}}">Home</a>
                                </div>
                            </div>
                            <div class="nav__wrap">
                                {% if not is_granted('ROLE_USER') %}
                                <div class="nav__item {% if mainNavLogin is defined %}active{% endif %}">
                                    <a class="nav__item-link" href="{{path('login')}}">Log In</a>
                                </div>
                                <div class="nav__item {% if mainNavRegistration is defined %}active{% endif %}">
                                    <a class="nav__item-link" href="{{path('app_security_register')}}">Sign Up</a>
                                </div>
                                {% endif %}
                                <div class="nav__item cart">
                                    <a class="navbar-brand" href="{{ path('show_cart') }}">
                                        <img src="{{ asset('assets/img/random/shopping-bag.png') }}" alt="logo" style="width:30px;">
                                    </a>
                                    <span class="badge badge-pill badge-danger">{{ app.session.get('cart')|length }}</span>
                                </div>
                                {% if is_granted('ROLE_USER') %}
                                <div class="nav__item username {% if mainNavMember is defined %}active{% endif %}">
                                    <div class="user">
                                        <img class="user__img" src="/assets/img/{{ app.user.srcPhoto }}"
                                            alt="{{ app.user.altPhoto }}" />
                                        <div class="user__name">{{ app.user.uname }}</div>
                                        <div class="user__dd">
                                            <div class="user__dd-item">
                                                <a href={{path('profile_page')}} class="nav__item-link">Settings</a>
                                            </div>
                                            {% endif %}
                                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            <div class="user__dd-item {% if mainNavAdmin is defined %}active{% endif %}">
                                                <a class="nav__item-link" href="{{path('home_super_admin')}}">Super Admin</a>
                                            </div>
                                            {% endif %}
                                            {% if is_granted('ROLE_ADMIN') %}
                                            <div class="user__dd-item {% if mainNavAdmin is defined %}active{% endif %}">
                                                <a class="nav__item-link" href="{{path('home_admin')}}">Admin</a>
                                            </div>
                                            {% endif %}
                                            {% if is_granted('ROLE_USER') %}
                                            <div class="user__dd-item">
                                                <a class="nav__item-link" href="{{path('logout')}}">Log Out</a>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            
            {% block flash %}
                {% for flash_message in app.session.flashbag.get('success') %}
                    <div class="container alert alert-success" role="alert">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashbag.get('info') %}
                    <div class="container alert alert-info" role="alert">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashbag.get('warning') %}
                    <div class="container alert alert-warning" role="alert">
                        {{ flash_message }}
                    </div>
                {% endfor %}
                {% for flash_message in app.session.flashbag.get('danger') %}
                    <div class="container alert alert-danger" role="alert">
                        {{ flash_message }}
                    </div>
                {% endfor %}
            {% endblock %}
            <div id="content">
                {% block body %}
                
                {% endblock body %}
            </div>
        </main>
       
        <footer id="footer">
            <section>
                <div class="footer__section">                            
                    <div class="footer__section-contents">
                        <h6 class="footer__title">Payment</h6>                                                                   
                        <img src="{{ asset('assets/img/random/payment.png') }}" id="footer__payment"/> 
                        <h6 class="footer__title">Download</h6>
                        <div class="download__store-list">
                            <div>
                                <a href="#" target="_blank" >
                                    <img src="{{ asset('assets/img/random/app-store.png') }}" class="download__store-img" />
                                </a>
                            </div>
                            <div>
                                <a href="#" target="_blank">
                                    <img src="{{ asset('assets/img/random/play-store.png') }}" class="download__store-img" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="footer__section-contents">
                        <h6 class="footer__title">Contact</h6>
                        <div class="contact__list">
                            <div class="footer__section-contents-details">
                                <img src="{{ asset('assets/img/random/email.png') }}" alt="email.png" class="footer__section-contents-details-img " />
                                <span class="footer__section-contents-details-text">info@example.com</span>
                            </div>
                            <div class="footer__section-contents-details">
                                <img src="{{ asset('assets/img/random/call.png') }}" alt="call.png" class="footer__section-contents-details-img " />
                                <span class="footer__section-contents-details-text">+ 33 (0)3 88 47 25 08</span>
                            </div>
                            <div class="footer__section-contents-details">
                                <img src="{{ asset('assets/img/random/telephone.png') }}" alt="telephone.png" class="footer__section-contents-details-img " />
                                <span class="footer__section-contents-details-text">+ 33 (0)9 79 94 47 51</span>
                            </div>
                        </div>
                        <h6 class="footer__title">About us - Terms of use</h6>
                    </div>
                    <div class="footer__section-contents">
                        <h6 class="footer__title">Shops</h6>
                        <div class="footer__section-contents-details">
                            <ul>
                                <li class="footer__section-contents-details">
                                    <a href="https://www.librairie-kleber.com/" target="_blank" class="links">Librairie Internationale Kléber</a>
                                </li>
                                <li class="footer__section-contents-details">
                                    <a href="https://www.fnac.com/livre.asp#bl=marktlink3" target="_blank" class="links">Librarie Fnac Strasbourg</a>
                                </li>
                                <li class="footer__section-contents-details">
                                    <a href="http://www.gallimard.fr/Catalogue/GALLIMARD/Du-monde-entier" target="_blank" class="links">Librairie Gallimard du Monde Entier</a>
                                </li>
                                <li class="footer__section-contents-details">
                                    <a href="http://dinali.fr/" target="_blank" class="links">Librairie Dinali Mésange</a>
                                </li>
                            </ul>
                            <ul>
                                <li class="footer__section-contents-details">
                                    <a href="https://www.librairie-broglie.com/" target="_blank" class="links">Librairie Papeterie Broglie</a>
                                </li>
                                <li class="footer__section-contents-details">
                                    <a href="http://librairie.gutenberg.over-blog.com/" target="_blank" class="links">Librairie Gutenberg</a>
                                </li>
                                <li class="footer__section-contents-details">
                                    <a href="https://www.livre-rare-book.com/c/b/coin?l=fr" target="_blank" class="links">Au Coin Littéraire</a>
                                </li>
                                <li class="footer__section-contents-details">
                                    <a href="https://www.oberlin.fr/" target="_blank" class="links">Librairie Oberlin</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__section-contents">
                        <h6 class="footer__title">Get Connected</h6>
                        <div class="footer__section-contents-details">
                            <ul>
                                <li>
                                    <a href="#" target="_blank" class="footer__section-contents-details">
                                        <img src="{{ asset('assets/img/random/twitter.png') }}" alt="twitter.png" class="footer__section-contents-details-img " />
                                        <span class="footer__section-contents-details-text">Follow me on <br>Twitter</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" class="footer__section-contents-details">
                                        <img src="{{ asset('assets/img/random/google-plus.png') }}" alt="google-plus.png" class="footer__section-contents-details-img " />
                                        <span class="footer__section-contents-details-text">Vote me on <br>Google Plus</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" class="footer__section-contents-details">
                                        <img src="{{ asset('assets/img/random/rss.png') }}" alt="rss.png" class="footer__section-contents-details-img " />
                                        <span class="footer__section-contents-details-text">Get RSS <br>Feed</span>
                                    </a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="#" target="_blank" class="footer__section-contents-details">
                                        <img src="{{ asset('assets/img/random/facebook.png') }}" alt="facebook.png" class="footer__section-contents-details-img " />
                                        <span class="footer__section-contents-details-text">Join me on <br>Facebook</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" class="footer__section-contents-details">
                                        <img src="{{ asset('assets/img/random/youtube.png') }}" alt="youtube.png" class="footer__section-contents-details-img " />
                                        <span class="footer__section-contents-details-text">Watch me on <br>Youtube</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" class="footer__section-contents-details">
                                        <img src="{{ asset('assets/img/random/instagram.png') }}" alt="instagram.png" class="footer__section-contents-details-img " />
                                        <span class="footer__section-contents-details-text">Follow me on<br>Instagram</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="footer__section-signature">
                    <a href="https://www.linkedin.com/alabicn" target="_blank" class="footer__section-contents-details">
                        <span id="signature" class="footer__section-contents-details-text">&copy; 2019<br>Powered by Nemanja ALABIC</span>
                        <img src="{{ asset('assets/img/random/linkedin.png') }}" class="footer__section-contents-details-img " />
                    </a>
                </div>
            </section>
        </footer> 
        {% block javascripts %}
        <!--jQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!--scripts for jQuery ratings-->
        <script src="{{ asset('assets/js/jquery.barrating.min.js') }}"></script>
        <script src="{{ asset('assets/js/ratings.js') }}" type="text/javascript"></script>
        <!--script for show/hide buttons-->
        <script src="{{ asset('assets/js/show_hide.js') }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>               
                
                
             