{% extends 'base.html.twig' %}
{% block title %}
{{title}}
{% endblock %}
{% block body %}
    {% if title is defined %}
        <h1 class="page__title">{{title}}</h1>
    {% else %}
        <h1>Header</h1>
    {% endif %}
        <div class="settings">
            <div>      
                <img id="admin__edit__author-img" src="/assets/img/{{ book.srcImage }}" alt="{{ book.altImage }}" title="{{ book.titleImage }}"/>
                <div>
                    {{ form(form, {'attr': {'id': 'photo_upload-form'}}) }}
                </div>
            </div>
        </div>
{% endblock %}
