{% extends 'base.html.twig' %}
{% block title %}
{{title}}
{% endblock %}
{% block body %}
    {% if title is defined %}
        <h1 class="page__title">{{title}}</h1>
    {% else %}
        <h1>Header</h1>
    {% endif %}
    <div id="store__content" style="display: flex;">
        <section style="flex: 3;">
            <div class="settings">
                <div>
                    <img class="store__book-img" src="/assets/img/{{ book.srcImage }}" alt="{{ book.altImage }}" title="{{ book.titleImage }}"/>   
                    <div id="ratings">
                        {% if book.average %}
                        <i></i>
                        <i></i>
                        <i></i>
                        <i></i>
                        <i></i>
                        <p>{{ book.average }} average based on {{ book.evaluations|length }} reviews</p>
                        {% else %}
                        <p>No ratings yet</p>
                        {% endif %}
                    </div>
                </div>
                <div class="settings__info">
                    {{ book.details|raw }}
                    
                    <p class="published_by">Published by {{ book.publisher}} <span>({{book.pages}} pages)</span>  on {{book.publicationDate|date("F jS Y ") }} <span>(first published {{ book.firstPublished|date("Y") }})</span></p>
                    <p>Original title : {{ book.originalTitle }}</p>
                    <p>Edition language : {{ book.editionLanguage }}</p>
                    {% for e in book.editions %}             
                    {% if (e.name == 'Hardback') or (e.name == 'Paperback') %}
                    <p>This book exists in {{ e.name }} and you can buy it in our shops for the price of {{ book.prices[e.id]|number_format(2, '.', ' ') }}&nbsp;€</p>
                    {% elseif e.name == 'eBook' %}
                    <a id="add_to_cart" class="links" href={{ path("shopping_cart", {'id': book.id})}}>The price of {{e.name}} edition is {{ book.prices[e.id]|number_format(2, '.', ' ') }}&nbsp;€. Add to Cart?</a>
                    {% else %}
                    The eBook edition is not yet available
                    {% endif %}  
                    {% endfor %} 
                </div>  
            </div>
            {% if app.user and book.ratedByUser(app.user.id) == false %}
            <form method="post">
                <div class="stars stars-example-bootstrap">
                    <select id="example" name="rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="required">Comment</label>
                    <input type="text" name="comment" id="inputComment" required="required" class="form-control" required autofocus>
                    <div class="form-group">
                        <button type="submit" id="ok" name="ok" class="btn-primary btn-block btn">Submit</button>
                    </div>
                </div>
            </form>
            {% endif %} 
             
            {% for evaluation in book.evaluations %}
            <div class="store__user_comments">
                <div>
                    <a href={{ path("show_user", {'id': evaluation.user.id}) }}>
                        <img class="store__user-img" src="/assets/img/{{ evaluation.user.srcPhoto }}" alt="{{ evaluation.user.altPhoto }}" title="{{ evaluation.user.titlePhoto }}"/>
                    </a>
                    <div> 
                        <div>
                        {% set note = evaluation.rating %}         
                        {% for i in 1..5 %}       
                            {% if note >= 1 %}
                            <i class="fas fa-star"></i>
                            {% else %}
                            <i class="far fa-star"></i>
                            {% endif %}
                            {% set note = note - 1 %}
                        {% endfor %}
                        </div>
                    </div>  
                </div>
                <div class="settings__info">
                    <div class="member_name">
                        <h5><span>{{evaluation.user.uname}}</span> <span>{{ evaluation.dateEvaluation|date("F jS\\, Y \\a\\t G:i\\h", "Europe/Paris") }}</span></h5>
                    </div>
                    <div class="member_info">
                        <p class="settings__info-comment">{{ evaluation.comment }}<p>
                    </div>
                </div>
                <div class="edit__content">
                {% if is_granted('ROLE_USER') %}
                    {% if app.user.id == evaluation.user.id %}
                <a href={{path("edit_evaluation", {'id': evaluation.id})}} onclick="return confirm('Are you sure?')">
                    <img src="{{ asset('assets/img/random/edit.png') }}" alt="edit.png" title="Edit ?" class="edit__content-img" />
                </a>
                    {% endif %}
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <a href={{path("remove_evaluation", {'id': evaluation.id})}} onclick="return confirm('Are you sure?')">
                    <img src="{{ asset('assets/img/random/remove.png') }}" alt="remove.png" title="Remove Evaluation?" class="edit__content-img" />
                </a>
                {% endif %}
                </div>
            </div>
            {% endfor %}
        </section>
        <aside>
            <img src="/assets/img/{{ book.author.srcImage }}" alt="{{ book.author.altImage }}" title="{{ book.author.titleImage }}" id="author__part"/>
            <div>{{ book.author.about|raw }}</div>
        </aside>
    </div>    
<div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
    <!--script for Users' ratings-->
    <script>
        
        $(document).ready(function(){
            
            var rate = parseInt('{{ book.average }}');
            
            $('#ratings i').each(function(){
                if(rate >= 1) {
                    $(this).addClass("fas fa-star")
                }
                else if (rate >= 0) {
                    $(this).addClass("fas fa-star-half-alt")
                }
                else $(this).addClass("far fa-star")
                rate = rate-1;
            })
        })
        
    </script>
{% endblock %}