{% extends 'base.html.twig' %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}
    {% if title is defined %}
    <h1 class="page__title">{{title}}</h1>
    {% else %}
    <h1>Header</h1>
    {% endif %}

    <div class="genre_items">
    {% for book in genre.books %}
        <a href={{ path("show_book", {'id': book.id}) }}>
            <img src="/assets/img/{{ book.srcImage }}" alt="{{ book.altImage }}" title="{{ book.titleImage }}" class="genre_items-img"/> 
        </a>  
    {% endfor %}
    </div>


{% endblock %}
